@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Mulish-ExtraLight.ttf');
}
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/Mulish-ExtraLightItalic.ttf');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Mulish-Regular.ttf');
}
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Mulish-Italic.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-dark transition-colors duration-500;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  a,
  span,
  b,
  string,
  li,
  table {
    @apply font-main;
  }

  h2,
  h3 {
    @apply text-white text-2xl md:text-3xl font-extralight;
  }

  p,
  table {
    @apply text-white text-base md:text-xl font-extralight text-justify tracking-wide;
  }

  a {
    @apply text-gold;
  }
  p a {
    @apply font-normal;
  }

  em {
    @apply text-gold italic;
  }

  tr {
    @apply border-0 border-b border-white/10 last:border-b-0;
  }

  td {
    @apply px-2.5 py-2 text-left;
  }

  table {
    @apply mb-10 p-5 bg-gray-main;
  }

  .blur-fix{
    @apply backdrop-brightness-100 backdrop-contrast-100 backdrop-grayscale-0 backdrop-hue-rotate-0 backdrop-invert-0 backdrop-opacity-100 backdrop-saturate-100 backdrop-sepia-0

  }

  .invert-fix{
    @apply brightness-100 contrast-100 grayscale-0 hue-rotate-0 blur-0 opacity-100 saturate-100 sepia-0 drop-shadow-none

  }

  * {
    scrollbar-width: 10px;
    scrollbar-color: #2f2f2c transparent;
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2f2f2c;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #2c2c29;
  }

  @keyframes loading {
    50% {
      background: rgba(119, 119, 119, 1);
    }
  }
}

@layer components {
  img.loading {
    @apply opacity-5 rounded-md bg-gray-light scale-95 animate-[loading_2s_cubic-bezier(0.4,0,0.6,1)_infinite];
  }
}
