name: Build-deploy
on:
  workflow_dispatch:

  # Allows external webhook trigger
  repository_dispatch:
    types:
      - webhook
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Get latest code
        uses: actions/checkout@v2.1.0
        with:
          fetch-depth: 2

      - name: Use Node.js 16.17.0
        uses: actions/setup-node@v2
        with: 
          node-version: '16.17.0'

      - name: Build Website
        run: |
          npm install
          npm run generate

      - name: FTP-Deploy-Action
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./output/public